@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" ;

@layer base {
   * {
    margin: 0;
    padding: 0;
    list-style: none;
   }
   
   :root{
      --primary-color:#E56101;
   }

   .v-enter-active, .v-leave-active {
      transition: opacity 0.25s ease;
   }
   .v-enter-from,
   .v-leave-to {
      opacity: 0;
   }

   .btn {
      transition: 0.25s;
   }
   .btn:active{
      transform: scale(0.7);
   }
}
